*, ::after, ::before {
    box-sizing: content-box;
}

@media screen and (max-width: 650px) {
    body {
        font-size: 3vw;
    }
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
    body {
        font-size: 2vw;
    }

    h1 {
        font-size: 10vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    body {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 12vw;
    }
}

.py-2, footer {
    background: #999900;
}

.py-3 {
    background: black;
}

.py-2, .sidebar ul {
    list-style: none;
}

.py-2 li:hover a, .sidebar li:hover a {
    color: black;
}

.py-2 li a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.headline {
    font-weight: bold;
}

.headline2 {
    font-weight: lighter;
}

.sidebar ul {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #999900;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidebar li a {
    display: block;
    color: white;
    text-decoration: none;

    font-weight: lighter;
    text-align: center;
}

.card {
    position: relative;
    width: 1000px;
    min-width: 250px;
    min-height: 500px;
    height: 200px;
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.div-img img {
    display: block;
    width: 100%;
    filter: brightness(50%);
}

.div-img {
    position: relative;
    display: inline-block;
}

@media (max-width: 991px) {
    .div-img img {
        margin-top: 2%;
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
    text-align: center;
}

.div-img:hover .overlay {
    opacity: 1;
}

.form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  0px #000;
}

.btn {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    color: white;
}

hr.solid {
    border-top: 3px solid white;
}

.foot-text {
    color: white;
    font-weight: lighter;
}

#services {
    display: block;
    text-align: center;
}

#services li {
    width: auto;
    height: auto;
    display: inline-block;
    list-style: none;
}

#services li div {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 120px;
    background-color: #999900;
    transition: all 0.5s ease;
}
#services li a {
    color: white;
}

.footer #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}

.footer span {
    color: white;
}
.footer #services li span {
  width: auto;
  height: auto;
  display: block;
  padding: 15px 0px;
  text-transform: uppercase;
  text-align: center;
}






















