header {
    background: black;
    text-align: center;
    padding: 60px;
    color: white;
    font-size: 30px;
}

nav {
    border-style: solid;
    border-width: medium;
    text-align: center;
}

.w3-button.w3-bar-item {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 14px;
}